/*  */
/* Reset */
/*  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier */
input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

    --ff-kumb: 'Kumbh Sans',
        sans-serif;
}

body {
    font-family: var(--ff-kumb);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-pattern-top.svg) left top -50vh no-repeat, url(./images/bg-pattern-bottom.svg) right bottom -50vh no-repeat;
    background-size: 50%;
    background-color: var(--Dark-cyan);

}

/* url(https://picsum.photos/id/1/200/200) right 99vw bottom 0 no-repeat; */
/* } */
.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50px;
}

.stats {
    display: flex;

    gap: 3rem;
}

.banner {
    background-image: url(./images/bg-pattern-card.svg);
    height: 100px;
}